<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>TASKS</h1>
        <div class="lists">
            <div>
                <h3>Now</h3>
                <ul id="must-do" class="task-list">
                    {% for task in must_do %}
                    <li id="{{ task.id }}">
                        <div class="drag-handle">
                            ⠿
                            <button class="delete-btn">✖</button>
                        </div>
                        <div class="card-title" contenteditable="true" placeholder="Title" spellcheck="false">{{ task.title }}</div>
                        <div class="card-body" contenteditable="true" placeholder="Details" spellcheck="false">{{ task.body}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Next</h3>
                <ul id="should-do" class="task-list">
                    {% for task in should_do %}
                    <li id="{{ task.id }}">
                        <div class="drag-handle">
                            ⠿
                            <button class="delete-btn">✖</button>
                        </div>
                        <div class="card-title" contenteditable="true" placeholder="Title" spellcheck="false">{{ task.title }}</div>
                        <div class="card-body" contenteditable="true" placeholder="Details" spellcheck="false">{{ task.body}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h3>Later</h3>
                <ul id="will-do" class="task-list">
                    {% for task in will_do %}
                    <li id="{{ task.id }}">
                        <div class="drag-handle">
                            ⠿
                            <button class="delete-btn">✖</button>
                        </div>
                        <div class="card-title" contenteditable="true" placeholder="Title" spellcheck="false">{{ task.title }}</div>
                        <div class="card-body" contenteditable="true" placeholder="Details" spellcheck="false">{{ task.body}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div>
            <h3>Unscheduled Tasks</h3>
            <ul id="unsched" class="task-list">
                {% for task in unsched %}
                <li id="{{ task.id }}">
                    <div class="drag-handle">
                        ⠿
                        <button class="delete-btn">✖</button>
                    </div>
                    <div class="card-title" contenteditable="true" placeholder="Title" spellcheck="false">{{ task.title }}</div>
                    <div class="card-body" contenteditable="true" placeholder="Details" spellcheck="false">{{ task.body}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <button id="add-task-button">+</button>
    </div>
</body>
</html>

